<%= form_with(model: fellow_topic, local: true) do |form| %>
  <% if fellow_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fellow_topic.errors.count, "error") %> prohibited this fellow_topic from being saved:</h2>

      <ul>
      <% fellow_topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :topic_id %>
    <%= form.number_field :topic_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
