<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p id="notice"><%= notice %></p>

<h1>Questions</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%current_user_id = current_user.id%>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.name %></td>
        <td><%= question.topic_id %></td>
        <td><%= link_to 'Show', question %></td>
        <%if question.user_id == current_user_id%>
          <td><%= link_to 'Edit', edit_question_path(question)   %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <%else%>
          <td><button class="follow_user" data="<%= {fellowed_source_id: current_user_id,fellower_id: question.user_id}.to_json%>"> Follow <%=question.user.email%></button></td>
          <td><button class="follow_topic" data="<%= {topic_id: question.topic.id, user_id: current_user.id}.to_json%>">Topic: <%=question.topic.name%> </button></td>
        <%end%>          
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Question', new_question_path(user_id: current_user.id) %>





I Follow these Users
<div id="following_people">
  <ol>
    <%current_user.get_followers.each do |fellow|%>
      <li><%= User.find(fellow.follower_id).email%></li>
    <%end%>
  </ol>
</div>

<div id="followed_people">
</div>

<script>
  $(document).ready(()=>{
    console.log("the document is being ready");    
  })


  //code for the sake of the follow chain linking
  $('.follow_user').click((e)=>{
    obtained_information = JSON.parse(e.target.getAttribute('data'))
    $.ajax({
      url: "/fellow_links/follow_user",
      type:'post',
      data: {
       followed_source_id: obtained_information["fellowed_source_id"],
       follower_id: obtained_information["fellower_id"],
       authenticity_token: "<%=form_authenticity_token%>"
      },
      success: function(result){
        console.log(result);
        if(result['success']){
          alert("You are following the user");
        }
        else{
          alert(result['errors'])
        }
      }
    });
  })

  //code for the sake follow topic linking
  $('.follow_topic').click((e)=>{
    obtained_information = JSON.parse(e.target.getAttribute('data'))
    $.ajax({
      url: "/fellow_links/follow_user",
      type:'post',
      data: {
       user_id: obtained_information["user_id"],
       topic_id: obtained_information["topic_id"],
       authenticity_token: "<%=form_authenticity_token%>"
      },
      success: function(result){
        console.log(result);
        if(result['success']){
          alert("You are following the user");
        }
        else{
          alert(result['errors'])
        }
      }
    });
  })

</script>