<p id="notice"><%= notice %></p>

<h1>Fellows</h1>

<table>
  <thead>
    <tr>
      <th>Followed source</th>
      <th>Follower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fellows.each do |fellow| %>
      <tr>
        <td><%= fellow.followed_source_id %></td>
        <td><%= fellow.follower_id %></td>
        <td><%= link_to 'Show', fellow %></td>
        <td><%= link_to 'Edit', edit_fellow_path(fellow) %></td>
        <td><%= link_to 'Destroy', fellow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fellow', new_fellow_path %>
